.card {
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.02);
  }
}


.card-title
{
    font-style: italic;
    font-family: georgia;
    letter-spacing: 1px;
}

.badge
{
    background-color: rgb(77, 236, 77);
    color: rgb(59, 54, 54);
    font-size: 12px;
    // letter-spacing: 1px;
    padding: 8px 10px;
    margin:5px;
    text-transform: capitalize;
}


.bg-success {
    background-color: #97f7ae!important;
    padding: 5px 10px;
    border-radius: 10px;
}

.bg-info
{
    background-color: rgb(153, 153, 238);
}



.bg-secondary {
    background-color: #b4aea6!important;
    // color: white;
    padding: 5px 10px;
    border-radius: 10px;
}
