

 <div class="row">
    <div class="col-md-6 offset-md-6">
           <div *ngFor="let todo of todoItems">
      <div class="card h-100 mb-5">
        <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <div class="text">
          <button (click)="edit(todo.id)"  mat-raised-button color="primary">Edit</button>
          <button (click)="removeItem(todo.id)" mat-raised-button color="warn">Delete</button>
            </div>
        </div>
      </div>
    </div>
    </div>
 </div>













<!-- 

 <div class="row">
    <div class="col-md-6 offset-md-6">
           <div *ngFor="let todo of todoItems">
      <div class="card h-100 mb-5">
         <img [src]="todo.imageUrl" class="card-img-top" alt="{{ todo.title }}"> -->
        <!-- <div class="card-body"> -->
            <!-- <h5 class="card-title">{{ todo.title }}</h5> -->
            <!-- <p class="card-text">{{ todo.description }}</p> -->
            <!-- <p class="text-muted">Status: 
                <span [ngClass]="{'text-success': todo.completed, 'text-danger': !todo.completed}">
                    {{ todo.completed ? 'Done' : 'Pending' }}
                </span>
            </p> -->
            <!-- <p class="small text-muted">Created: {{ todo.createdAt | date }}</p> -->
            <!-- <div class="text"> -->
          <!-- <button  (click)="edit(todo)" mat-raised-button color="primary">Edit</button> -->
          <!-- <button (click)="removeItem(todo.id)" mat-raised-button color="warn">Delete</button> -->
            <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
 <!-- </div> -->
 
