.card-title
{
    font-size: 18px !important;
    font-family: georgia;
    font-size: 25px;
    font-weight: bold;
}

.card-body p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-style: italic !important;
    font-size:16px;
}