<div class="row full-height-center">
  <div class="col-md-6">
    <form #postForm="ngForm" (ngSubmit)="onSubmit()" class="text-white">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          required
          ngModel
        />
      </div>

      <div class="form-group mb-3">
        <label for="body" class="form-label">Content</label>
        <textarea
          id="body"
          name="body"
          class="form-control"
          required
          rows="4"
          ngModel
        ></textarea>
      </div>

      <button
        type="submit"
        class="btn"
        [ngClass]="isEditMode ? 'btn-success' : 'btn-primary'"
        [disabled]="postForm.invalid"
      >
        {{ isEditMode ? 'Update Post' : 'Add Post' }}
      </button>
    </form>
  </div>
</div>
