.full-height-center {
  height: 80vh; /* 80 viewport height */
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}


.fas
{
position: absolute; top: 38px; right: 12px; pointer-events: none;

}