.full-height-center {
  height: 80vh; /* 80 viewport height */
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}


.fas
{
position: absolute; top: 38px; right: 12px; pointer-events: none;

}


::ng-deep .snackbar-success {
  background-color: #4caf50;
  color: white;
  display: flex !important;
  justify-content: center !important;
 

}




::ng-deep .snackbar-info {
  background-color: #376839 !important;
  color: white;
  display: flex !important;
  justify-content: center !important;
  font-family: georgia;
}



::ng-deep .mat-simple-snackbar {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

::ng-deep .snackbar-info {
  background-color: #1976d2; /* Blue */
  color: #fff;
  font-family: 'Arial', sans-serif;
  text-align: center;
}
