.main-container {
  padding: 20px;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.light-theme {
    background-color: #ffffff;
    color: #000000;
  }

  &.dark-theme {
    background-color: #121212;
    color: #ffffff;
  }

  button {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    background-color: #888;
    color: #fff;
    border-radius: 4px;
  }
}
