/* Common styling */
.theme-toggle-btn {
  border: 1px solid rgb(252, 196, 196);
  padding: 8px 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* Light mode */
.theme-toggle-btn.light-mode {
  background-color: #ffffff;
  color: #000000;
}


/* Dark mode */
.theme-toggle-btn.dark-mode {
  background-color: #000000;
  color: #ffffff;
}


