.col-md-4
{
    margin-bottom: 30px;
}

.card
{
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.card-header
{
    background-color: rgb(235, 131, 148);
    color: rgb(208, 241, 206);
    text-transform: capitalize;
}

.card-body
{
    font-family: georgia;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 1px;
    
}

.card-footer
{
    background-color: gray;
}

::ng-deep .snackbar-error {
  background-color: #f44336;
  color: rgb(245, 239, 240);
  display: flex !important;
  justify-content: center !important;
  font-family: Georgia;
}

::ng-deep .mat-simple-snackbar-action button {
  max-height: 36px;
  min-width: 0;
  margin-top: 3px !important;
  color: rgb(95, 240, 12) !important;
}

::ng-deep .mat-simple-snackbar {
  font-family: Georgia;
  font-size: 16px;
  letter-spacing: 1px;
}
