.col-md-4
{
    margin-bottom: 30px;
}

.card
{
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.card-header
{
    background-color: rgb(235, 131, 148);
    color: rgb(208, 241, 206);
    text-transform: capitalize;
}

.card-body
{
    font-family: georgia;
    font-size: 18px;
    word-spacing: 2px;
    letter-spacing: 1px;
    
}

.card-footer
{
    background-color: gray;
}