

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="" style="padding:0; margin:-8px;">
    <img src="./assets/web_logo.png" alt="Shop Logo">
  </a>

  <!-- Toggle Button -->
  <button
    class="navbar-toggler"
    type="button"
    [ngClass]="{ 'd-none': isNavbarOpen }"
    (click)="toggleNavbar()"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Close Button -->
  <button
    class="btn text-white d-lg-none"
    *ngIf="isNavbarOpen"
    (click)="toggleNavbar()"
    style="font-size: 35px; background: none; border: none; position: absolute; right: 20px; top: 10px;"
    aria-label="Close">
    &times;
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ show: isNavbarOpen }">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="home">Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="categories">Categories</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="offers">Offers</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="cart">Cart</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="account">My Account</a>
      </li>
    </ul>
  </div>
</nav>


<!-- ##################################################################################################### -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" routerLink="" style="padding: 0; margin: 0;">
  <img
    src="./assets/web_logo.png"
    alt="Shop Logo"
    style="width:100px; height: 60px; padding-bottom: 8px;  display: block;">
</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="home">Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="categories">Categories</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="offers">Offers</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="cart">Cart</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="account">My Account</a>
      </li>
    </ul>
  </div>
</nav> -->