.bg-dark {
    background-color: #040505!important;
}

.navbar-expand-lg 
{
    color: white;
}

.nav-link {
  margin: 6px 35px 0;
  font-family: georgia;
}
.navbar-dark .navbar-nav .nav-link {
  color: white !important;
}

.navbar-dark .navbar-brand {
  color: white !important;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .nav-link:hover {
  color: #f8f9fa !important; /* lighter white on hover */
}


.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  position: relative;
}

.navbar-dark .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: rgb(55, 236, 145);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}

@media(min-width:320px)and (max-width:768px)
{
   .nav-link {
  margin: 6px -15px 0;
  padding: 20px;
  font-family: georgia;
}

.navbar-dark .navbar-nav .nav-link {
  color: white !important;
  position: relative;
}

.navbar-dark .navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  left: 12px;
  bottom: 10px;
  width: 15%;
  height: 3px;
  background-color: rgb(71, 243, 80);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}


}