
.p-2
{
    border: 2px solid rgb(109, 235, 109);
    color: white;
}

.p-2 span
{
    font-family: georgia;
}

.text
{
    text-align: center;
    color: white;
    font-family: georgia;
    font-style: italic;
}