/* You can add global styles to this file, and also import other style files */


@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/brands";



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// body
// {
//     background-color: rgb(54, 28, 28);
// }





body.dark-mode {
  background-color: #121212;
  color: white;
}

body.light-mode {
  background-color: #f8f9fa;
  color: #212529;
}







/* 1. SweetAlert2 popup box styling */

.swal2-popup.qr-popup-box {
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* 2. Content inside the popup */
.qr-popup-content {
  text-align: center;
}

/* 3. QR image */
.qr-image {
  width: 160px;
  border-radius: 10px;
  margin-top: 10px;
}

/* 4. Description below the QR */
.qr-description {
  font-size: 0.85rem;
  margin-top: 10px;
  color: #666;
}

/* 5. Optional: Customize close button */
.swal2-close {
    position: absolute;
    top: -4px;
    right: 3px;
    font-size: 40px;
    color: #e96677;
}
.mat-h2, .mat-title, .mat-typography .mat-h2, .mat-typography .mat-title, .mat-typography h2 {
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin: 0 0 -24px;
}